footer {
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  pointer-events: none;  
  letter-spacing: 1px;
  z-index: 0;
  margin: 0;
  padding: 0;
}

footer a, footer button, footer svg { 
  pointer-events: auto; 
}

a {
  text-decoration: none;
  color: white;
}

footer ul li a {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin: 1rem;
}


footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  font-size: 1rem;
}


a:link {
  text-decoration: none;
  color: orange;
}



a:visited {
  text-decoration: none;
  color: orange;
}



h2 a {
  font-size: 10px;
  color: white;
}