header {
  display: flex;
  align-items: center;
  justify-content: space-around; /* ícones esquerda | título central | ícones direita */
  padding: 0.5rem 1rem;           /* menos distância do topo */
  background-color: #212121;
  color: rgb(214, 155, 26);
  position: relative;
}

.left-icons,
.right-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* distância pequena entre os ícones */
}

h1 {
  text-shadow: 2px 2px 2px rgba(192, 99, 23, 0.731);
  color: white;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* mantém sempre centralizado */
}

.icon svg {
  cursor: pointer;
  transition: transform 0.2s;
}
.icon svg:hover {
  transform: scale(1.1);
}

