body {
    min-height: 100vh;
    background-color: #212121;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1{
    font-size: 2rem;
    color: black;
    text-shadow: 2px 2px 2px rgb(192, 99, 23);
} */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* força 100% da tela */
}

.app-main {
  flex: 1;            /* ocupa todo o espaço livre */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza o jogo na vertical */
  align-items: center;     /* centraliza na horizontal */
  overflow: hidden;        /* evita scroll */
}